<div class="container-fluid row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-lg-push-6">
        <form>
          {{#if editingName}}
          <div class="form-group no-margin">
            <label for="name" class="input-form-label input-form-label-first">First Name</label>
            {{input type="text" value=firstName class="form-control settings-account-info input-form-field" id="firstName"}}
            <label for="name" class="input-form-label input-form-label-first">Last Name</label>
            {{input type="text" value=lastName class="form-control settings-account-info input-form-field" id="lastName"}}
            <button class="settings-btn edit-btn" {{action 'editInfo' 'name'}}>Save</button>
            <button type="button" class="settings-btn cancel-btn" {{action 'editInfo' 'name'}}>Cancel</button>
          </div>
          {{else}}
            <div class="form-group no-margin">
              <label for="name" class="input-form-label input-form-label-first">Name</label>
              <div class="form-control settings-account-info">{{name}}</div>
              <button class="settings-btn edit-btn" {{action 'editInfo' 'name'}}>Edit</button>
            </div>
          {{/if}}

          {{#if editingEmail}}
            <div class="form-group no-margin">
              <label for="email" class="input-form-label">Email address</label>
              {{input type="email" value=email class="form-control settings-account-info input-form-field" id="email"}}
              <button class="settings-btn edit-btn" {{action 'editInfo' 'email'}}>Save</button>
              <button type="button" class="settings-btn cancel-btn" {{action 'editInfo' 'email'}}>Cancel</button>
            </div>
          {{else}}
            <div class="form-group no-margin">
              <label for="email" class="input-form-label">Email address</label>
              <div class="form-control settings-account-info">{{email}}</div>
              <button class="settings-btn edit-btn" {{action 'editInfo' 'email'}}>Edit</button>
            </div>
          {{/if}}

          {{#if editingPassword}}
            <div class="form-group no-margin">
              <label for="oldPassword" class="input-form-label">Enter Current Password</label>
              {{input type="password"
                      value=oldPassword
                      class="form-control settings-account-info input-form-field"
                      id="oldPassword"}}
            </div>
            <div class="form-group no-margin">
              <label for="newPassword" class="input-form-label">New Password (8 character minimum)</label>
              <div>
                {{input type="password"
                      value=newPassword
                      key-up="verifyPassword"
                      class="form-control settings-account-info input-form-field"
                      id="newPassword"}}
                {{#if isInvalidPassword}}
                  <div class="into-input-ring"><i class="fa fa-times into-input into-input-invalid" aria-hidden="true"></i></div>
                {{else}}
                  <div class="into-input-ring"><i class="fa fa-check into-input into-input-valid" aria-hidden="true"></i></div>
                {{/if}}
              </div>
            </div>
            <div class="form-group no-margin">
              <label for="reNewPassword" class="input-form-label">Re-enter New Password</label>
              <div>{{input type="password"
                      value=rePassword
                      key-up="verifyRePassword"
                      class="form-control settings-account-info input-form-field"
                      id="reNewPassword"}}
                {{#if isInvalidRePassword}}
                  <i class="fa fa-times into-input into-input-invalid" aria-hidden="true"></i>
                {{else}}
                  <i class="fa fa-check into-input into-input-valid" aria-hidden="true"></i>
                {{/if}}
              </div>
              <button class="settings-btn edit-btn edit-btn-last" {{action 'save' 'password'}} disabled={{inValidPasswordChange}}>Save</button>
              <button type="button" class="settings-btn cancel-btn" {{action 'editInfo' 'password'}}>Cancel</button>
            </div>
          {{else}}
            <div class="form-group no-margin">
              <label for="pwd" class="input-form-label">Password</label>
              <div class="form-control settings-account-info">{{password}}</div>
              <button type="button" class="settings-btn edit-btn edit-btn-last" {{action 'editInfo' 'password'}}>Edit</button>
            </div>
          {{/if}}
        </form>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-5 col-lg-pull-4">
      <div class="row settings-box">
        <div class="col-xs-12">
          <span class="settings-title">The Honest Company, Inc.</span>
          <span class="settings-info">12130 Millennium Dr, Los Angeles, CA 90094</span>
          <span class="settings-info">(888) 862-8818</span>
          <span class="settings-info settings-member">Your Member ID is <span class="settings-id">791509951</span></span>
          <button class="settings-btn logout-btn pull-right" {{action logout}}>log out of xyz</button>
        </div>
      </div>
    </div>
</div>